<!DOCTYPE html>
<html lang='en' class=''>

<head>
    <title>Leap Years - BNPP Fortis Channels</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css"/>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Leap Year</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Calculate Leap Year Assignment</h1>

        <label>Enter The Year:</label>
        <input type="number" id="year"/>
        <button id="calculateLeapYear" type="submit">Click Me</button>
        <p id="statusInformation" style="display:none;"></p>
    </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/myscripts.js"></script>
</body>

</html>